/*Comentario em CSS
Seletor de Elementos - linha 4
*/

h1 {
    color: rgb(190, 44, 4)

}

h2 {

    color: rgb(166, 0, 0);


}

/*seletor de ID**/
#xuxu{
    background-color: lightcoral;

}

/*Seletor de Classe*/

.estiloso{

    border-style: solid;
}

/*Afeta apenas os P da classe centraliza*/

p.centraliza{

    text-align: center;


}